{% extends "index.html" %}

{% block body %}
<div class="container">

  <div class="row">
    <div id="hashtag" class="col-md-4">
      <div>
        <h1>Realtime Cheese Grommit!</h1>
    </div>

     <div id="main" class="col-md-8">
      {% for cheese in all_cheese %}
          {% if loop.first %} <div class="row">{% endif %}
            <div class="col-xs-4 col-sm-4 col-md-4 gram">
                <a href="http://thepearts.com" target="_blank">
                  <div class="gram_inner">
                    <div class="gram_body">
                      <div class="caption">{{cheese.color}}</div>
                      <div class="user">{{cheese.status}}</div>
                    </div>
                  </div>
                </a>
            </div>
            {% if loop.index is divisibleby(3) %}
            </div><div class="row">
            {% endif %}
            {% if loop.last %}</div>{% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="row"></div>
</div>
</div>
{% endblock %}