<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>Cheese Tornado Grommit!</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://getbootstrap.com/examples/starter-template/starter-template.css">
  <link rel="dns-prefetch" href="//scontent.cdninstagram.com">
  <link rel="stylesheet" href="/public/style.css">
  <link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
</head>

<body>

{% block body %}

  {% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/public/jquery.transit.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>

{% raw %}
<script id="gram-template" type="text/x-handlebars-template">
  <div class="col-xs-4 col-sm-4 col-md-4 gram">
    <a href="http://thepearts.com" target="_blank">
      <div class="gram_inner">
        <div class="gram_body">
          <div class="caption">{{new_val.color}}</div>
          <div class="user">{{new_val.status}}</div>
        </div>
      </div>
    </a>
  </div>
</script>
{% endraw %}
<script src="/public/main.js"></script>

</body>
</html>